body {
  width: 100%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/*index and actualindex*/

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #e5509a;
}


ul {
  list-style-type: none;
  width: 25%;
  margin: 10em auto;
  font-size: 14pt;
}

li {
  text-align: left;
}

.whatever {
  width: 50%;
  margin-top: 10em;
  margin-left:auto;
  margin-right:auto;
}

/*peopleme*/

.ppl {
  margin: 5em 0 0 30em;
}

/*lovepoem2*/

.hidden {
  display: none;
}

.goose {
  font-size: 40pt;
  text-align: center;
  margin: 5em;
}