

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  width: 100%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.btn-custom {
  background-color: hsl(201, 100%, 40%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e5509a", endColorstr="#e5509a");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#e5509a), to(#e5509a));
  background-image: -moz-linear-gradient(top, #e5509a, #e5509a);
  background-image: -ms-linear-gradient(top, #e5509a, #e5509a);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5509a), color-stop(100%, #e5509a));
  background-image: -webkit-linear-gradient(top, #e5509a, #e5509a);
  background-image: -o-linear-gradient(top, #e5509a, #e5509a);
  background-image: linear-gradient(#e5509a, #e5509a);
  border-color: #e5509a #e5509a hsl(201, 100%, 40%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
  -webkit-font-smoothing: antialiased;
}

h3 {
  color: #e5509a;
}
em {
  color: #fff;
  padding: 10px;
}
footer {
  padding-top: 50px;
  text-align: center;
}

.bubble 
{
position: relative;
width: 580px;
height: 95px;
padding: 6px;
background: #62ABE2;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

.bubble:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 15px 15px 15px 0;
border-color: transparent #62ABE2;
display: block;
width: 0;
z-index: 1;
left: -15px;
top: 33px;
}